@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant active (&:where(.active, .active *));

@theme {
  --color-primary: #222;
  --color-accent: #0f5995;
  --color-special: #128339;

  --color-dark-bg: #1a202c;
  --color-dark-primary: #cbd5e0;
  --color-dark-accent: #90bde9;
  --color-dark-special: #b5fdcd;
}
